@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  background-image: url('/Background-Gradient.svg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
